h1 {
    font-size: 12pt;
    text-align: center;
}

.navBar {
    color: #F7F7F7;
    background-color: #1581FF;
}

.navBar a {
    color: #F7F7F7;
    background-color: #1581FF;
    font-weight: bold;
}